<%= form_with(model: actor, data: { turbo: false }) do |form| %>
  <% if actor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
        <% actor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name  %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dob  %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :bio  %>
    <%= form.text_area :bio, rows: 3 %>
  </div>

  <%= form.button %>
<% end %>
